Source: python-is-python2
Maintainer: Yury Frolov <ein-krebs@yandex-team.ru>
Section: python
Build-Depends: 
    dh-make

Package: python-is-python2
Architecture: amd64
Depends: python2
Breaks: python-is-python3
Description: Sets Python2 as default system Python
