Source: python-paramiko
Maintainer: Yury Frolov <ein-krebs@yandex-team.ru>
Section: python
Build-Depends: 
    dh-make,
    python-all-dev,
    python-all,
    python-all-dbg,
    dh-python,
    dh-sequence-python2,
    python-setuptools

Package: python-paramiko
Architecture: amd64
Depends: python2, python-cryptography (>= 1.1), python-pyasn1 (>= 0.1.7)
Description: paramiko package for Python2 shipped as Debian file

